// CSS HOMEPAGE
html,body {
    background-color: #f4f4f4;
    @media (max-width: 576px) {
        background-color: #fff;
    }
}
.homepage {
    .container {
        .gbox-start {
            padding-bottom: var(--pd);
        }
    }
    @media(max-width: 992px) {
        --heightHeader: 60px;
       
        .container {
            section {
                
            }
        }
    }
    @media (max-width: 768px) {
        .container {
            .info {
                &-text {
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }
}